.parent {
   display: grid;
   grid-template-columns: 1fr 0.5fr;
   grid-template-rows: 4fr repeat(4, 1fr);
   grid-column-gap: 0px;
   grid-row-gap: 0px;
   max-width: 400px;
   border-radius: 8vw 8vw 3vw 3vw;
   box-shadow: 1px 0px 8px #AAA;
}

.image {
   grid-area: 1 / 1 / 2 / 3;
   background-color: rgb(159, 247, 45);
   height: 200px;
   width: 100%;
   border-radius: 8vw 8vw 3vw 3vw;
}

.heading {
   grid-area: 2 / 1 / 3 / 3;
}

h1 {
   padding-top: 4px;
   font-weight: 500;
   text-align: center;
}

h2 {
   font-size: 23px;
   font-weight: 600;
}

h3 {
   font-weight: 600;
}

h2,
h3 {
   margin: 0;
   direction: rtl;
}

.section-label {
   grid-area: 3 / 2 / 4 / 3;

}

.label {
   padding-right: 40px;
}

.section {
   grid-area: 3 / 1 / 4 / 2;
   background-color: #3699FF;
   color: white;
   padding: 5px;
   border-radius: 8px;
   height: 50%;
   text-align: center;
   margin-left: 40px;
}

.semester-label {
   grid-area: 4 / 2 / 5 / 3;
}

.semester {
   grid-area: 4 / 1 / 5 / 2;
   background-color: #FFA800;
   color: white;
   padding: 5px;
   border-radius: 8px;
   height: 50%;
   text-align: center;
   margin-left: 20px;
}

.submit {
   grid-area: 5 / 1 / 6 / 3;
}

button {
   background-color: #1BC5BD;
   color: white;
   font-size: 18px;
   padding: 14px 20px;
   border: none;
   cursor: pointer;
   height: 52px;
   width: 100%;
   float: right;
   border-radius: 0 0 3vw 3vw;
}