<main class="container">
    <!-- Login Form -->
    <div class="item form-side">
        <img id="logo" src="../../../assets/media/dark-logo.png" alt="FCIT Logo">
        <!-- <div class="login-form"> -->
        <form method="post">
            <div class="form-div">
                <h1>منصة مشاريع التخرج</h1>
                <label for="uname" class="label"><b>الرقم الجامعي</b></label>
                <input type="text" placeholder="ادخل الرقم الجامعي" name="uname" required>
                <label for="psw" class="label"><b>كلمة المرور</b></label>
                <a href="" class="pass-reset">هل نسيت كلمة المرور؟</a>
                <input type="password" placeholder="ادخل كلمة المرور" name="psw" required>
                <div class="button-box">
                    <button class="register-button" type="submit">إنشاء حساب</button>
                    <button class="login-button" type="submit">تسجيل الدخول</button>
                </div>
            </div>
        </form>
        <!-- </div> -->
        <footer>
            <a href="https://computing.kau.edu.sa/" class="fcit">كلية الحاسبات وتقنية المعلومات &copy;</a>
        </footer>
    </div>
    <!-- Aside Picture -->
    <aside class="item picutre-side">
        <img id="aside-pic" src="../../../assets/media/college.jpg" alt="College Enterance">
    </aside>
</main>