* {
  margin: 0;
  padding: 0;
  font-family: "Noto Kufi Arabic", sans-serif !important;
}

html {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

h1 {
  padding-bottom: 4%;
}

label {
  font-size: 18px;
}

/* Form Side */
.form-side {
  min-width: 45%;
  max-width: 65%;
  width: 100%;
  align-self: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-form {
  width: 80%;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: right;
  background-color: #eee;
  border-radius: 15px;
  margin-bottom: 5.85%;
}

button {
  font-weight: 900;
  background-color: #04aa6d;
  color: white;
  padding: 1vh 2vw;
  margin: 8px 1.5%;
  border: none;
  cursor: pointer;
  width: 12vw;
  float: right;
  border-radius: 8px;
}

.register-button {
  background-color: #3699ff;
}

.login-button {
  background-color: #1bc5bd;
}

span.psw {
  float: right;
  padding-top: 16px;
}

button:hover {
  opacity: 0.8;
}

.form-div {
  text-align: right;
  padding: 6%;
}

#logo {
  width: 55%;
  height: 12%;
  display: block;
  margin: auto;
  padding-bottom: 8%;
}

.button-box {
  display: flex;
  justify-content: right;
  width: 100%;
}

/* Picture Side */
.aside-pic {
  background-size: cover;
  position: sticky;
  top: 0;
  right: 0;
  width: 55%;
  height: 100vh;
  border-left: #04aa6d 5px solid;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  min-width: 45%;
  max-width: 65%;
  width: 100%;
  background-color: #eee;
  color: rgb(0, 0, 0);
  padding: 20px;
}

.pass-reset {
  float: left;
}

.fcit {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 1000px) {}