<div class="parent">
  <div class="top-section">
    <h1 class="heading">أرشيف مشاريع التخرّج</h1>
    <app-search-bar
      (searchValueChange)="onSearchTextEntered($event)"
    ></app-search-bar>
  </div>
  <div class="projects-archive">
    <div class="projects-row" *ngFor="let i of [].constructor(rowCount)">
      <app-archived-projects-card
        class="card"
        *ngFor="let i of [0,1,2,3]"
        [project]="searchedProjects[i]"
      ></app-archived-projects-card>
    </div>
  </div>
</div>
