<div class="parent">
  <div class="timeline-heading">
    <h1>تقدّم المشروع</h1>
  </div>
  <div class="timeline-widget">
    <horizontal-timeline
      [timelineElements]="timeline"
      [showContent]="true"
    ></horizontal-timeline>
  </div>
  <div class="message-heading">أحدث رسالة</div>
  <div class="message-widget">
    <div class="sender-box">
      <img class="pfp" src="../../../assets/media/dr-rayed.png" />
      <p class="name">د. رائد الغامدي</p>
      <p class="role">مشرف المجموعة</p>
    </div>
    <p class="message">
      أبجد هوز حطي كلمن سعفص قرشت ثخذ ضظغ أبجد هوز حطي كلمن سعفص قرشت ثخذ ضظغ
      أبجد هوز حطي كلمن سعفص قرشت ثخذ ضظغ أبجد هوز حطي كلمن سعفص قرشت ثخذ ضظغ
      أبجد هوز حطي كلمن سعفص قرشت ثخذ ضظغ أبجد هوز حطي كلمن سعفص قرشت ثخذ ضظغ
      أبجد هوز حطي كلمن سعفص قرشت ثخذ ضظغ أبجد هوز حطي كلمن سعفص قرشت ثخذ ضظغ
      أبجد هوز حطي كلمن سعفص قرشت ثخذ ضظغ أبجد هوز حطي كلمن سعفص قرشت ثخذ ضظغ
      أبجد هوز حطي كلمن سعفص قرشت ثخذ ضظغ
    </p>
    <p class="date">أرسلت بتاريخ 13/01/2023</p>
  </div>
  <div class="task-heading">المهام القادمة</div>
  <div class="task-list">
    <div class="task-widget">
      <p class="task-name">عرض البرنامج</p>
      <p class="due-date">تاريخ التسليم: 13/13/2013</p>
      <p class="priority">الأولوية: قصوى</p>
      <div class="submit">تسليم</div>
    </div>
    <div class="task-widget">
      <p class="task-name">عرض البرنامج</p>
      <p class="due-date">تاريخ التسليم: 13/13/2013</p>
      <p class="priority">الأولوية: قصوى</p>
      <div class="submit">تسليم</div>
    </div>
    <div class="task-widget">
      <p class="task-name">عرض البرنامج</p>
      <p class="due-date">تاريخ التسليم: 13/13/2013</p>
      <p class="priority">الأولوية: قصوى</p>
      <div class="submit">تسليم</div>
    </div>
  </div>
</div>
