* {
   text-align: right;
   font-family: "Noto Kufi Arabic", sans-serif !important;
   direction: rtl;
}

.parent {
   height: 75vh;
   padding: 1vh 1vw;
   z-index: -1;
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-template-rows: 0.1fr 0.5fr 0.1fr repeat(3, 0.5fr);
   grid-column-gap: 5%;
   grid-row-gap: 10px;
}

.timeline-heading {
   grid-area: 1 / 1 / 2 / 3;
}

.timeline-heading>h1 {
   text-align: right;
   font-size: 2em;
   font-weight: 900;
   margin: 0;
}

.timeline-widget {
   grid-area: 2 / 1 / 3 / 3;
}

body {
   margin: 0;
   padding: 0;
}

.container {
   position: absolute;
   top: 20%;
   left: 50%;
   transform: translate(-50%, -50%);
   margin-top: 50px;
}

.timeline-container {
   position: relative;
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 0px;
   grid-row-gap: 1vh;
   width: 65vw;
}

.paragraphs-container {
   grid-area: 1 / 1 / 2 / 7;
   display: flex;
}

.step-paragraph {
   font-size: 1.2em;
   font-weight: 600;
   margin: 0;
   padding: 0;
   text-align: center;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.step-paragraph:nth-child(1) {
   justify-content: right;
}

.step-paragraph:nth-child(2) {
   justify-content: right;
}

.step-paragraph:nth-child(5) {
   justify-content: left;
}

.step-paragraph:nth-child(6) {
   justify-content: left;
}

.nodes-container {
   grid-area: 2 / 1 / 3 / 7;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 100%;
}

.step-node {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: 2px solid #ACACA6;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 0.3s;
}

/* .step.selected {
   border: 2px solid #4B81BD;
}

.step.completed {
   border: 2px solid #4B81BD;
   background: #4B81BD;
} */

.progress {
   position: absolute;
   width: 100%;
   height: 50%;
   margin-top: 2.5vh;
   border-bottom: 2px solid #ACACA6;
   z-index: -1;
}
/* 
.percent {
   position: absolute;
   width: 0;
   height: 100%;
   border-bottom: 2px solid #4B81BD;
   z-index: 1;
   transition: width 1s;
} */

.card {
   background-color: #fff;
}

.message-heading {
   grid-area: 3 / 1 / 4 / 2;
   text-align: right;
   font-size: 1.5em;
   font-weight: 900;
}

.message-widget {
   grid-area: 4 / 1 / 7 / 2;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   border-radius: 5%;
   box-shadow: rgba(0, 0, 0, 0.24) 3px 5px 8px;
   width: 80%;
}

.sender-box {
   display: grid;
   grid-template-columns: 2fr 5fr;
   grid-template-rows: 0.5fr 0.5fr;
   grid-column-gap: 10px;
   margin: 10%;
}

.pfp {
   grid-area: 1 / 1 / 3 / 2;
   width: 100%;
   border-radius: 100%;
   align-self: center;
   justify-self: center;
}

.name {
   grid-area: 1 / 2 / 2 / 3;
   color: #1BC5BD;
   align-self: end;
   font-size: 1.5em;
   font-weight: 900;
   margin: 0;
   padding-right: 0.5vw;
}

.role {
   grid-area: 2 / 2 / 3 / 3;
   color: #ACACA6;
   align-self: start;
   font-size: 1.2em;
   font-weight: 600;
   margin: 0;
   padding-right: 0.5vw;
   padding-top: 1vh;
}

.message {
   padding: 0 1.5vw;
}

.date {
   padding: 0 1.7vw;
   color: #ACACA6;
   font-size: 1.2em;
   font-weight: 500;
}

.task-heading {
   grid-area: 3 / 2 / 4 / 4;
   text-align: right;
   font-size: 1.5em;
   font-weight: 900;
}

.task-list {
   grid-area: 4 / 2 / 7 / 4;
   display: flex;
   flex-direction: column;
   gap: 2vh;
}

.task-widget {
   border-radius: 3vw;
   box-shadow: rgba(0, 0, 0, 0.24) 3px 5px 8px;
   width: 80%;
   height: 32%;
   display: grid;
   grid-template-columns: 3fr 1fr;
   grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 10px;
   grid-row-gap: 10px;
   padding-top: 3.5%;
   padding-bottom: 2%;
   padding-left: 3%;
   padding-right: 3%;

}

.task-name {
   grid-area: 1 / 1 / 2 / 2;
   font-size: 2em;
   font-weight: 900;
   margin: 0;
}

.due-date {
   grid-area: 2 / 1 / 3 / 2;
   font-size: 1.2em;
   margin: 0;
}

.priority {
   grid-area: 1 / 2 / 2 / 3;
   font-size: 1.2em;
   margin: 0;
   text-align: center;
}

.submit {
   grid-area: 2 / 2 / 3 / 3;
   background-color: #1BC5BD;
   border-radius: 2vw;
   text-align: center;
   font-size: 1.5em;
   color: #fff;
   align-self: center;
   font-weight: 900;
   padding: 0.5vh;
}