<div class="parent">
   <div class="timeline-heading">
      <h1>تقدّم المشروع</h1>
   </div>
   <div class="container">
      <div class="progress">
         <div class="percent"></div>
      </div>
      <div class="steps">
         <div class="step" id="0"></div>
         <div class="step" id="1"></div>
         <div class="step" id="2"></div>
         <div class="step" id="3"></div>
         <div class="step" id="4"></div>
         <div class="step" id="5"></div>
      </div>
   </div>
   <div class="message-heading">أحدث رسالة</div>
   <div class="card message-widget">
      <div class="sender-box">
         <img class="pfp" src="../../../assets/media/dr-rayed.png" />
         <p class="name">د. رائد الغامدي</p>
         <p class="role">مشرف المجموعة</p>
      </div>
      <p class="message">
         أبجد هوز حطي كلمن سعفص قرشت ثخذ ضظغ أبجد هوز حطي كلمن سعفص قرشت ثخذ ضظغ
         أبجد هوز حطي كلمن سعفص قرشت ثخذ ضظغ أبجد هوز حطي كلمن سعفص قرشت ثخذ ضظغ
         أبجد هوز حطي كلمن سعفص قرشت ثخذ ضظغ أبجد هوز حطي كلمن سعفص قرشت ثخذ ضظغ
         أبجد هوز حطي كلمن سعفص قرشت ثخذ ضظغ أبجد هوز حطي كلمن سعفص قرشت ثخذ ضظغ
         أبجد هوز حطي كلمن سعفص قرشت ثخذ ضظغ أبجد هوز حطي كلمن سعفص قرشت ثخذ ضظغ
         أبجد هوز حطي كلمن سعفص قرشت ثخذ ضظغ
      </p>
      <p class="date">أرسلت بتاريخ 13/01/2023</p>
   </div>
   <div class="task-heading">المهام القادمة</div>
   <div class="task-list">
      <div class="card task-widget">
         <p class="card task-name">عرض البرنامج</p>
         <p class="card due-date">تاريخ التسليم: 13/13/2013</p>
         <p class="card priority">الأولوية: قصوى</p>
         <div class="card submit">تسليم</div>
      </div>
      <div class="card task-widget">
         <p class="card task-name">عرض البرنامج</p>
         <p class="card due-date">تاريخ التسليم: 13/13/2013</p>
         <p class="card priority">الأولوية: قصوى</p>
         <div class="card submit">تسليم</div>
      </div>
      <div class="card task-widget">
         <p class="card task-name">عرض البرنامج</p>
         <p class="card due-date">تاريخ التسليم: 13/13/2013</p>
         <p class="card priority">الأولوية: قصوى</p>
         <div class="card submit">تسليم</div>
      </div>
   </div>
</div>