<div class="parent">
   <div class="timeline-heading">
      <h1>تقدّم المشروع</h1>
   </div>
   <div class="container">
      <div class="progress">
         <div class="percent"></div>
      </div>
      <div class="timeline-container">
         <div class="paragraphs-container">
            <p class="step-paragraph">تسليم المنشور</p>
            <p class="step-paragraph">موافقة مشرف المشروع</p>
            <p class="step-paragraph">عرض البرنامج</p>
            <p class="step-paragraph">رفع عرض المشروع</p>
            <p class="step-paragraph">مناقشة المشروع</p>
            <p class="step-paragraph">رفع المشروع النهائي</p>
         </div>
         <div class="nodes-container">
            <div class="step-node" id="0">
            </div>
            <div class="step-node" id="1">
            </div>
            <div class="step-node" id="3">
            </div>
            <div class="step-node" id="4">
            </div>
            <div class="step-node" id="5">
            </div>
            <div class="step-node" id="6">
            </div>
         </div>
      </div>
   </div>
   <div class="message-heading">أحدث رسالة</div>
   <div class="card message-widget">
      <div class="sender-box">
         <img class="pfp" src="../../../assets/media/dr-rayed.png" />
         <p class="name">د. رائد الغامدي</p>
         <p class="role">مشرف المجموعة</p>
      </div>
      <pre class="message">
السلام عليكم ورحمة الله وبركاته،

أما بعد،

هذه رسالة وهمية كتبت لأغراض عرض
مشروع التخرّج بمقرر 499 لعام 2022-2023
من قبل طلاب المجموعة السادسة.
نأمل أن تنجح الرسالة في طرح المطلوب،
وأن ينال المشروع على استحسانكم :)

تقبلوا أطيب التحيات. 
      </pre>
      <p class="date">أرسلت بتاريخ 13/01/2023</p>
   </div>
   <div class="task-heading">المهام القادمة</div>
   <div class="task-list">
      <div class="card task-widget">
         <p class="card task-name">رفع رابط GitHub</p>
         <p class="card due-date">تاريخ التسليم: 13/13/2013</p>
         <p class="card priority">الأولوية: قصوى</p>
         <div routerLink="/main/submission" class="card submit">تسليم</div>
      </div>
      <div class="card task-widget">
         <p class="card task-name">رفع رابط GitHub</p>
         <p class="card due-date">تاريخ التسليم: 13/13/2013</p>
         <p class="card priority">الأولوية: قصوى</p>
         <div routerLink="/main/submission" class="card submit">تسليم</div>
      </div>
      <div class="card task-widget">
         <p class="card task-name">رفع رابط GitHub</p>
         <p class="card due-date">تاريخ التسليم: 13/13/2013</p>
         <p class="card priority">الأولوية: قصوى</p>
         <div routerLink="/main/submission" class="card submit">تسليم</div>
      </div>
   </div>
</div>
