<!--HEADER - NEEDS WORK-->
<div class="header">
  <div class="nav-section">
    <img class="pfp" src="../../../assets/media/Faisal.jpg" />
    <p class="welcome-message">مرحبا <strong>فيصل راشد الشهري</strong></p>
    <div class="alert-counter">0</div>
    <div class="item-icon">
      <img src="../../../assets/media/icons/notification.png" />
    </div>
    <div class="alert-counter">1</div>
    <div class="item-icon">
      <img src="../../../assets/media/icons/email.png" />
    </div>
  </div>
  <div class="title-section">
    <h2 class="page-title">الأكاديمية الرقمية</h2>
  </div>
</div>
