<div class="parent">
  <h1 class="heading">عرض رسالة</h1>
  <table class="table">
    <thead>
      <tr>
        <th>الرسالة</th>
        <th>المرسل</th>
        <th>التاريخ والوقت</th>
        <th>الخيارات</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>رسالة وهمية</strong></td>
        <td><strong>د. رائد الغامدي</strong></td>
        <td><strong>PM 23:49:10 2022-12-25</strong></td>
        <td>
          <div class="icon-container">
            <img src="../../../assets/media/icons/delete.png" />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
