<div class="parent">
   <h1 class="heading">عرض تنبيه</h1>
   <table class="table">
       <thead>
           <tr>
               <th>التنبيه</th>
               <th>التاريخ والوقت</th>
               <th>الخيارات</th>
           </tr>
       </thead>
       <tbody>
           <tr>
               <td><strong>تنبيه وهمي</strong></td>
               <td><strong>PM 23:49:10 2022-12-25</strong></td>
               <td>
                   <div class="icon-container">
                       <img src="../../../assets/media/icons/delete.png">
                   </div>
               </td>
           </tr>
       </tbody>
   </table>
</div>