<div class="card">
  <div class="academy-image">
    <img src="../../../assets/media/fcit-logo.svg" />
  </div>
  <div class="academy-name">
    <h1>درس #1 كتابة التقارير</h1>
  </div>
  <div class="card-info">
    <div class="label">
      <h2>المستوى:</h2>
    </div>
    <p class="difficulty">صعب</p>
  </div>
  <div class="card-info">
    <div class="label">
      <h2>المدة:</h2>
    </div>
    <div class="semester">
      <h3>3 ساعات</h3>
    </div>
  </div>
  <div routerLink="/main/lesson" class="view">بدأ الدرس</div>
</div>
