<div class="parent">
   <h1 class="heading">الأكاديمية الرقمية - إعداد التقارير</h1>
   <h2 class="subheading">عرض الدرس:</h2>
   <iframe width="640" height="360" src="https://www.youtube.com/embed/ReJBeUdfp7Y" title="Basics of Report Writing" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
   <h2 class="subheading">الحالة: <span class="status">مكتمل</span></h2>
   <div class="edit-options">
       <div class="edit-status">تغيير الحالة</div>
   </div>
</div>