<div class="parent">
        <div class="profile-info">
            <img class="pfp" src="../../../assets/media/icons/profile.png">
            <div class="top-section">
               <p class="name">{{user.first_name}} {{user.last_name}}</p>
               <p class="uid">{{user.uid}}</p>
               <p class="course-code">CPIT-499</p>
            </div>
            <div class="bottom-section">
                <div class="icon-data email-box">
                    <img class="icons" src="../../../assets/media/icons/email.png">
                    <p class="email">{{user.email}}</p>
                </div>
                <div class="icon-data phone-box">
                    <img class="icons" src="../../../assets/media/icons/phone-call.png">
                    <p class="phone-number">{{user.phone_number}}</p>
                </div>
            </div>
        </div>
        <div class="info-section">
            <div class="icon-box">
                <img src="../../../assets/media/icons/mortarboard.png">
                <p class="icon-title">القسم:</p>
                <p class="icon-info">{{project.dept}}</p>
            </div>
            <div class="icon-box">
                <img src="../../../assets/media/icons/project-management.png">
                <p class="icon-title">المشروع:</p>
                <p class="icon-info">{{project.title}}</p>
            </div>
            <div class="icon-box">
                <img class="professor" src="../../../assets/media/icons/professor.png">
                <p class="icon-title">المشرف:</p>
                <p class="icon-info">{{supervisor?.first_name}} {{supervisor?.last_name}}</p>
            </div>
            <div class="icon-box">
                <img src="../../../assets/media/icons/group.png">
                <p class="icon-title">المجموعة:</p>
                <ul class="icon-info">
                    <li *ngFor="let student of students">{{student.first_name}} {{student.last_name}}</li>
                </ul>
            </div>
        </div>
        <div class="task-heading">المهام القادمة</div>
        <div class="task-list">
            <div class="task-widget">
                <p class="task-name">عرض البرنامج</p>
                <p class="due-date">تاريخ التسليم: 13/13/2013</p>
                <p class="priority">الأولوية: قصوى</p>
                <div class="submit">تسليم</div>
            </div>
            <div class="task-widget">
                <p class="task-name">عرض البرنامج</p>
                <p class="due-date">تاريخ التسليم: 13/13/2013</p>
                <p class="priority">الأولوية: قصوى</p>
                <div class="submit">تسليم</div>
            </div>
            <div class="task-widget">
                <p class="task-name">عرض البرنامج</p>
                <p class="due-date">تاريخ التسليم: 13/13/2013</p>
                <p class="priority">الأولوية: قصوى</p>
                <div class="submit">تسليم</div>
            </div>
        </div>
        <div class="edit-options">
            <div class="edit-info">تحديث البيانات الشخصية</div>
            <div class="edit-password">تغيير كلمة المرور</div>
        </div>
    </div>