<!--SIDEBAR-->
<div class="sidebar">
  <div>
    <a href="https://computing.kau.edu.sa/" class="logo"
      ><img src="../../../assets/media/dark-logo.png"
    /></a>
  </div>
  <div class="sidebar-list">
    <div class="sidebar-item">
      <div class="item-icon">
        <img src="../../../assets/media/icons/dashboard.png" />
      </div>
      <p class="item-label" routerLink="/main/dashboard">لوحة المعلومات</p>
    </div>
    <div class="sidebar-item">
      <div class="item-icon">
        <img src="../../../assets/media/icons/user.png" />
      </div>
      <p class="item-label">المعلومات الشخصية</p>
    </div>
    <h3 class="list-heading">المشروع</h3>
    <div class="sidebar-item">
      <div class="item-icon">
        <img src="../../../assets/media/icons/project-management.png" />
      </div>
      <p class="item-label">معلومات المشروع</p>
    </div>
    <div class="sidebar-item">
      <div class="item-icon">
        <img src="../../../assets/media/icons/group.png" />
      </div>
      <p class="item-label">معلومات المجموعة</p>
    </div>
    <div class="sidebar-item">
      <div class="item-icon">
        <img src="../../../assets/media/icons/upload.png" />
      </div>
      <p class="item-label">تسليم متطلّبات المشروع</p>
    </div>
    <h3 class="list-heading">المساعدة والإرشاد</h3>
    <div class="sidebar-item">
      <div class="item-icon">
        <img src="../../../assets/media/icons/mortarboard.png" />
      </div>
      <p class="item-label">الأكاديمية الرقمية</p>
    </div>
    <div class="sidebar-item">
      <div class="item-icon">
        <img src="../../../assets/media/icons/folder.png" />
      </div>
      <p routerLink="/main/archive" class="item-label">أرشيف المشاريع</p>
    </div>
    <div class="sidebar-item">
      <div class="item-icon">
        <img src="../../../assets/media/icons/help.png" />
      </div>
      <p class="item-label">طلب جلسة توجيه</p>
    </div>
    <div class="sidebar-item">
      <div class="item-icon">
        <img src="../../../assets/media/icons/support.png" />
      </div>
      <p class="item-label">الدعم الفني</p>
    </div>
    <h3 class="list-heading">الدرجات والتقييم</h3>
    <div class="sidebar-item">
      <div class="item-icon">
        <img src="../../../assets/media/icons/grade.png" />
      </div>
      <p class="item-label">كشف الدرجات</p>
    </div>
  </div>
</div>
