<main class="container">
  <!-- Login Form -->
  <div class="item form-side">
    <!-- <div class="login-form"> -->
    <form method="post">
      <div class="form-div">
        <h1>منصة مشاريع التخرج</h1>
        <label for="fname" class="label">الاسم الأول</label>
        <input type="text" placeholder="ادخل الاسم الأول" name="fname" required [(ngModel)]="user.first_name" />
        <label for="lname" class="label">اسم العائلة</label>
        <input type="text" placeholder="ادخل اسم العائلة" name="lname" required [(ngModel)]="user.last_name" />
        <label for="uid" class="label">الرقم الجامعي</label>
        <input type="text" placeholder="ادخل الرقم الجامعي" name="uid" required [(ngModel)]="user.uid" />
        <label for="uid" class="label">التخصص</label>
        <br />
        <select default="تقنية المعلومات" class="major" name="specialization" [(ngModel)]="user.major" dir="rtl">
          <option value="" disabled selected hidden><span class="select-major">&nbsp;&nbsp;&nbsp;اختر التخصص</span>
          </option>
          <option value="CS">علوم الحاسب</option>
          <option value="IS">نظم المعلومات</option>
          <option value="IT">تقنية المعلومات</option>
        </select>
        <br />
        <br />
        <label for="email" class="label">البريد الالكتروني</label>
        <input type="text" placeholder="ادخل البريد الالكتروني" name="email" required [(ngModel)]="user.email" />
        <label for="phoneNumber" class="label">رقم الجوال</label>
        <input type="text" placeholder="ادخل رقم الجوال" name="phoneNumber" required [(ngModel)]="user.phone_number" />
        <label for="psw" class="label">كلمة المرور</label>
        <input type="password" placeholder="ادخل كلمة المرور" name="psw" required [(ngModel)]="user.password_digest" />
        <label for="psw-confirm" class="label">تأكيد كلمة المرور</label>
        <input type="password" placeholder="ادخل تأكيد كلمة المرور" name="psw-confirm" required
          [(ngModel)]="pwConfirmation" />
        <div class="button-box">
          <button class="register-button" type="button" (click)="onRegister()">
            متابعة
          </button>
        </div>
      </div>
    </form>
    <!-- </div> -->
    <footer>
      <a href="https://computing.kau.edu.sa/" class="fcit">كلية الحاسبات وتقنية المعلومات &copy;</a>
    </footer>
  </div>
  <!-- Aside Picture -->
  <img id="aside-pic" src="../../../assets/media/college.jpg" alt="College Enterance" />
</main>