<div class="parent">
   <h1 class="heading">صندوق الرسائل</h1>
   <table class="table">
      <thead>
         <tr>
            <th>#</th>
            <th>الرسائل</th>
            <th>المرسل</th>
            <th>التاريخ والوقت</th>
            <th>الخيارات</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td><strong>1</strong></td>
            <td routerLink="/main/message"><strong>رسالة وهمية</strong></td>
            <td><strong>د. رائد الغامدي</strong></td>
            <td><strong>PM 23:49:10 2022-12-25</strong></td>
            <td>
               <div class="icon-container">
                  <img src="../../../assets/media/icons/delete.png">
               </div>
            </td>
         </tr>
         <tr>
            <td>2</td>
            <td>رسالة وهمية</td>
            <td>د. رائد الغامدي</td>
            <td>PM 23:49:10 2022-12-25</td>
            <td>
               <div class="icon-container">
                  <img src="../../../assets/media/icons/delete.png">
               </div>
            </td>
         </tr>
         <tr>
            <td>3</td>
            <td>رسالة وهمية</td>
            <td>د. رائد الغامدي</td>
            <td>PM 23:49:10 2022-12-25</td>
            <td>
               <div class="icon-container">
                  <img src="../../../assets/media/icons/delete.png">
               </div>
            </td>
         </tr>
         <tr>
            <td>4</td>
            <td>رسالة وهمية</td>
            <td>د. رائد الغامدي</td>
            <td>PM 23:49:10 2022-12-25</td>
            <td>
               <div class="icon-container">
                  <img src="../../../assets/media/icons/delete.png">
               </div>
            </td>
         </tr>
         <tr>
            <td>5</td>
            <td>رسالة وهمية</td>
            <td>د. رائد الغامدي</td>
            <td>PM 23:49:10 2022-12-25</td>
            <td>
               <div class="icon-container">
                  <img src="../../../assets/media/icons/delete.png">
               </div>
            </td>
         </tr>
      </tbody>
   </table>
</div>