<div class="parent">
   <h1 class="heading">متطلّبات المشروع:</h1>
   <table class="table">
      <thead>
         <tr>
            <th>#</th>
            <th>المتطلّب</th>
            <th>التاريخ والوقت</th>
            <th>الخيارات</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>1</td>
            <td>رفع رابط GitHub</td>
            <td>PM 23:49:10 2022-12-25</td>
            <td>
               <div class="icon-container delete">
                  <img src="../../../assets/media/icons/delete.png" />
               </div>
            </td>
         </tr>
         <tr>
            <td>2</td>
            <td>رفع المنشور</td>
            <td>PM 23:49:10 2022-12-25</td>
            <td>
               <div class="icon-container delete">
                  <img src="../../../assets/media/icons/delete.png" />
               </div>
            </td>
         </tr>
         <tr>
            <td>3</td>
            <td>عرض البرنامج</td>
            <td>PM 23:49:10 2022-12-25</td>
            <td>
               <div class="icon-container delete">
                  <img src="../../../assets/media/icons/delete.png" />
               </div>
            </td>
         </tr>
         <tr>
            <td>4</td>
            <td>العرض التقديمي النهائي</td>
            <td>PM 23:49:10 2022-12-25</td>
            <td>
               <div class="icon-container delete">
                  <img src="../../../assets/media/icons/delete.png" />
               </div>
            </td>
         </tr>
         <tr>
            <td>5</td>
            <td >ملفات المشروع النهائية</td>
            <td>PM 23:49:10 2022-12-25</td>
            <td>
               <div routerLink="/main/submission" class="icon-container upload">
                  <img src="../../../assets/media/icons/upload-gr.png" />
               </div>
            </td>
         </tr>
         <tr>
            <td>6</td>
            <td>التقرير النهائي</td>
            <td>PM 23:49:10 2022-12-25</td>
            <td>
               <div routerLink="/main/submission" class="icon-container upload">
                  <img src="../../../assets/media/icons/upload-gr.png" />
               </div>
            </td>
         </tr>
      </tbody>
   </table>
</div>